header{
    background-color:black;
    text-align: center;
    color:blue;
}
aside {
    position:relative;
    float: left;;
}
main {
    position:relative;
    min-height:100vh;
    float:right;
    margin-top: 0;
    float:right;
    width:60%;
}
#content-wrap {
    padding-bottom:2.5rem;
}
footer {
    vertical-align: bottom;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
}