header{
    clear:both;
    background-color:black;
    text-align: center;
    padding:20px;
    color:blue;
    text-shadow: 4px 4px 4px grey;
}
body{
    clear:both;
}
aside {
    clear:both;
    margin-top: 20px;
    width:25%;
    background-color: lavender;
    position:absolute;
    float: left;
}
.all-of-it {
    clear:both;
    background-color:#a09595;
    /*display:inlne-block;*/
    position:absolute;
    border: 4px solid red;

}
main {
    padding:10px;
    background-color:pink;
    float:right;
    position:relative;
    min-height:100vh;
    margin-top: 20px;
    width:70%;
}
#content-wrap {
    float:right;   
    /*clear:both;*/
    padding-bottom:2.5rem;
}
footer {
    text-align:center;
    padding:10px;
    Color: magenta;
    text-shadow:4px 4px 4px black;
    background-color:darkblue;
    clear:both;
    margin-bottom: 0px;
    position: relative;
    bottom: 0;
}